# sample .gitignore from https://github.com/SAP-samples/cloud-cap-samples/blob/main/.gitignore

.gen/
_out/
dist/
edmx/
gen/
node_modules/
target/

.DS_Store
*.log
connection.properties
default-env.json
.cdsrc-private.json
packages/messageBox
reviews/msg-box
reviews/db/test.db

*.openapi3.json
*.sqlite
*.db

@types/
@cds-models/

Makefile*.mta
*_mta_build_tmp/
srv/build-info.json
resources/
tmp/
mta_archives/